.selected {
  width: var(--width);
  height: 444px;
  background: linear-gradient(135deg, #ef4056, #ef394e);
  margin-top: 5px;
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  .first__selected {
    background-color: #ef394e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    margin-right: 14px;
    padding-left: 10px;
    & img {
      width: 145px;
      height: 145px;
    }
  }
  .selected__active {
    border-radius: 8px;
    .selected__svg__top {
      width: 100%;
      height: 30px;
      display: block;
      line-height: 30px;
      text-align: right;
      margin-right: 15px;
      margin-top: 10px;
      transform: scale(1.07);
    }
    .selected__img {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      & img {
        width: 150px;
        height: 150px;
      }
    }
    .selected__text {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 50px;
      margin-top: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      & p {
        font-size: 12px;
        font-family: irani;
        font-weight: 600;
        text-align: right;
        line-height: 2;
        margin-right: 10px;
        color: #3f4064;
        & span {
          font-size: 13px;
          font-weight: 200;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          opacity: 0.9;
          color: #3f4064;
        }
      }
    }
    .selected__today__send {
      all: unset;
      width: 100%;
      height: 25px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      padding-right: 5px;
      & h3 {
        font-size: 11px;
        font-family: irani;
        font-weight: 500;
      }
      & span {
        transform: scale(0.75);
        margin-top: 3px;
      }
    }
    .selected__price {
      all: unset;
      width: 100%;
      height: 70px;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: center;
      .selected__price__top {
        all: unset;
        width: 100%;
        height: 35px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .selected__price__top__right {
          all: unset;
          width: 34px;
          height: 20px;
          background-color: #d32f2f;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          & span {
            font-size: 12px;
            font-family: irani;
            font-weight: 600;
            color: #fff;
          }
        }
        .selected__price__top__left {
          all: unset;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row wrap;
          column-gap: 3px;
          padding-left: 7px;
          & h4 {
            font-size: 16px;
            font-family: irani;
            font-weight: 700;
            color: #3f4064;
          }
          & span {
            margin-top: 5px;
            color: #3f4064;
            font-weight: 900;
          }
        }
      }
      .selected__price__bottom {
        all: unset;
        width: 100%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & h5 {
          font-size: 12px;
          font-family: irani;
          font-weight: 600;
          color: #c0c2c5;
          text-decoration: line-through;
          padding-left: 25px;
        }
      }
    }
    .selected__off__time {
      width: 100%;
      height: 30px;
      margin-top: 6px;
      display: block;
      text-align: left;
      line-height: 30px;
      & h6 {
        font-size: 11px;
        font-family: irani;
        font-weight: 600;
        color: #ef394e;
      }
    }
  }
}
