.all_amazings__possion {
  position: unset;
}
.all_amazings {
  width: 100%;
  height: 2150px;
  left: 10px;
  padding: 0px 20px;
  margin-top: 20px;
  position: relative;
  .top__text {
    width: 100%;
    height: 57px;
    padding: 12px 0px;
    & span {
      width: 126px;
      height: 22px;
      color: #000000;
      font-size: 16px;
      font-weight: 700;
      font-family: iran;
    }
  }
  .filters {
    width: 270px;
    height: 615px;
    padding: 16px 20px;
    border: 2px solid #f0f0f1;
    border-radius: 10px;
    position: sticky;
    top: 200px;
    right: 10px;

    .text__top__filters {
      width: 229px;
      height: 40px;
      color: #3f4064;
      font-size: 19px;
      font-family: iran;
      font-weight: 300;
      padding-bottom: 16px;
    }
    .text__3 {
      width: 229px;
      height: 100px;
      padding: 12px 0px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      border-bottom: 1px solid #f0f0f1;
      .text__3__5 {
        width: 100%;
        height: fit-content;
        transform: scale(0.9);
        color: #3f4064;
        text-align: right;
        font-size: 16px;
        font-family: iran;
        font-weight: 500;
        display: flex;
        justify-content: start;
        align-items: center;
        row-gap: 10px;
        position: relative;
        .text__3__2 {
          width: fit-content;
          height: fit-content;
          transform: scale(1.5);
          position: absolute;
          left: -10px;
        }
        & svg {
          transform: scale(0.8);
          width: 30px;
          height: 30px;
        }
      }
      .text__3__1 {
        opacity: 0.5;
        font-family: iran;
        font-size: 14px;
      }
    }

    .text__2 {
      width: 229px;
      height: 57px;
      padding: 12px 0px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #f0f0f1;
      gap: 10px;

      & div {
        transform: scale(0.9);
        color: #3f4064;
        text-align: right;
        font-size: 16px;
        font-family: iran;
        font-weight: 500;
        line-height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & svg {
          transform: scale(0.8);
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .text__top__left {
    width: 1200px;
    height: 50px;
    display: flex;
    row-gap: 10px;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px 0px;
    position: absolute;
    top: 55px;
    right: 300px;
    margin-right: 10px;
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      & span {
        color: #3f4064;
        font-family: iran;
        font-size: 12px;
        padding-right: 3px;
        font-weight: 700;
      }
    }
    & span {
      color: #81858b;
      font-size: 12px;
      font-family: iran;
      padding: 10px;
    }
    .kala {
      position: absolute;
      left: 0;
      font-family: iran;
    }
    .color__red {
      color: #ef394e;

      font-size: 12px;
      font-family: iran;
      font-weight: 600;
      padding: 10px;
    }
  }
  .amazings__center {
    text-decoration: none;
    width: 1206px;
    position: absolute;
    top: 100px;
    right: 300px;
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0px;
    & a {
      width: 300px;
      height: 510px;
      border: 1px solid #f0f0f1;
      background-color: #ffffff;
      padding: 12px 8px;
      text-decoration: none;
      .image__top {
        width: 287px;
        height: 26px;
        margin-bottom: 4px;
        text-align: right;
        top: 10px;
        right: 10px;
        & img {
          width: 116px;
          height: 14px;
        }
      }
      &:hover {
        box-shadow: 0.5px 0.5px 25px #5a5a5a;
      }
      .image__center {
        width: 100%;
        height: 240px;
        margin-bottom: 4px;
        text-align: center;
        position: relative;
        & img {
          width: 240px;
          height: 240px;
        }
        & svg {
          position: absolute;
          right: 15px;
          border-radius: 50%;
          text-align: center;
          border: 1px solid #ef394e;
          bottom: 10px;
        }
      }
      .amazings__bottom {
        width: 287px;
        height: 212px;
        line-height: 2;

        & h2 {
          width: 284px;
          height: 52px;
          color: #3f4064;
          font-family: irani;
          font-size: 12px;
          display: flex;
          align-items: center;
          padding-right: 10px;
        }
        & div {
          margin-top: 15px;
          width: 284px;
          height: 27px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          .right {
            & p {
              color: #62666d;
              font-size: 11px;
              font-family: irani;
              text-decoration: none;
              margin-right: 3px;
            }
            & svg {
              transform: scale(0.8);
            }
          }
          .left {
            width: 50px;
            height: 27px;
            text-decoration: none;
            color: #3f4064;

            & svg {
              transform: scale(0.8);
              margin-right: 3px;
            }
          }
        }
        .amazings__bottom {
          width: 100%;
          height: 212px;
          padding-top: 4px;
          display: flex;
          flex-flow: column nowrap;
          padding: 10px;
          .amazings__bottom__top {
            width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            position: relative;
            gap: 5px;
            & h4 {
              width: 71px;
              height: 33px;
              font-size: 17px;
              font-family: irani;
              color: #3f4064 !important;
              position: absolute;
              text-decoration: none;
              left: -10px;
              margin-left: 5px;
            }
            & svg {
              transform: scale(1.1);
              position: absolute;
              left: 0;
            }
            & span {
              font-size: 14px;
              font-weight: 500;
              font-family: irani;
              padding: 0px 10px;
              border-radius: 16px;
              background-color: #d32f2f;
              color: whitesmoke;
            }
          }
          .amazings__bottom__bottom {
            display: block;
            width: 100%;
            height: auto;
            font-size: 15px;
            font-weight: 600;
            color: #3f4064 !important;
            font-family: irani;
            text-align: left;
            padding-left: 10px;
            text-decoration: none;
            text-decoration: line-through;
            margin-top: 0;
            opacity: 0.4;
          }
        }
      }
    }
  }
}
